@import url('https://fonts.cdnfonts.com/css/ruwudu');

body {
    font-family: 'Ruwudu', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./images/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*-------------WEAPONS PART*/

.title-section-weapons {
    text-align: center;
    margin-bottom: 0;
}
.cards-weapons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 0 0;
}


/*-------------ARMOR PART*/

.title-section-armor {
    text-align: center;
    margin-bottom: 0;
}

