@import url('https://fonts.cdnfonts.com/css/ruwudu');

body {
    font-family: 'Ruwudu', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.title-section {
    text-align: center;
    margin-bottom: 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 0 0;
}